<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target xsi:type="File"
            name="f" 
            fileName="${basedir}/logs/${shortdate}.log"
            layout="${date} ${uppercase:${level}}: ${message}"
            encoding="UTF-8"/>
    <target xsi:type="File"
            name="f1"
            fileName="${basedir}/logs/updates.log"
            layout="${date}: ${message}"
            encoding="UTF-8"/>
  </targets>

  <rules>
    <logger name="*" levels="Info" writeTo="f1" />
    <logger name="*" levels="Debug,Trace,Fatal" writeTo="f" />
  </rules>
</nlog>